@model IEnumerable<BpstEducation.Models.Batch>
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "ApplicationDashboard";
    var registrationsByCourse = ViewBag.registrationsByCourse;
    var registrationsByStatus = ViewBag.registrationsByStatus;
}

<style>
    .regCount {
        font-weight: bold; /* Make options bold */
        font-style: italic; /* Italicize options */
        color: #0056b3; /* Change text color */
        padding: 5px; /* Add padding for readability */
    }
</style>
<!-- Main content -->


<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th> Course </th>
                             <th> StartDate </th>
                                <th>Batch Time</th>
                                <th>BatchFee</th>

                        </tr>
                    </thead>  
                    <tbody> @foreach (var item in Model)
                    {
                        <tr>
                                <td> @item?.Course?.Name</td>

                                <td>
                                    @item.StartDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.StartDate.ToString(" hh:mm tt")
                                </td>
                                <td>
                                    @item.BatchFee
                                </td>
                        </tr>
                    }
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="GetApplications()" id="CourseDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByCourse)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.Name <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="GetApplications()" id="RegStatusDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByStatus)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.RegistrationStatus  <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="applicationsDiv"></div>

</div>



@section Scripts
    {
    <script>

         function GetApplications()
        {

         $.ajax({
              url: "/staff/Applications/GetApplicationPartials/",
              data:  { _courseId: $('#CourseDDL').val(), _statusId:  $('#RegStatusDDL').val() } ,
            //      type: "POST",  // POST request
            //      data: JSON.stringify(_data),  // Send data as a JSON string
            //      contentType: "application/json",  // Set content type to JSON
            //      dataType: "html",  // Expect HTML response from the server
              success: function(response) {
                 // On success, populate the DOM with the response
                 $("#applicationsDiv").html(response);  // Insert the HTML response into the #content div
             },
             error: function(xhr, status, error) {
                 // Handle errors here
                 console.error("AJAX Error: " + status + " - " + error);
             }
         });


            //     const selectedValue = $(thisObj).val(); // Get the value
            //     const url = `/Staff/ReviewRegistration/Index/${selectedValue}`; // Construct the URL
            //     window.location.href = url; // Redirect
            //       // window.location.href='/Staff/ReviewRegistration/Index/'+   $(thisObj).val();
            // }
            //  initialLoad = false; // Set flag to false after the first interaction
        }
    </script>


}
