@model IEnumerable<BpstEducation.Models.Batch>
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "ApplicationDashboard";
    var registrationsByCourse = ViewBag.registrationsByCourse;
    var registrationsByStatus = ViewBag.registrationsByStatus;

    var _selectedCourseId = ViewBag.SelectedCourseId;
    var _selectedStatusId = ViewBag.SelectedStatusId;

}

<style>
    .regCount {
        font-weight: bold; /* Make options bold */
        font-style: italic; /* Italicize options */
        color: #0056b3; /* Change text color */
        padding: 5px; /* Add padding for readability */
    }
</style>
<!-- Main content -->




<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="common.GetApplications()" id="CourseDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByCourse)
                            {

                                if (item.Key.UniqueId == _selectedCourseId)
                                {
                                    <option selected="selected" value="@item.Key.UniqueId"> @item.Key.Name <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                                }
                                else
                                {
                                    <option value="@item.Key.UniqueId"> @item.Key.Name <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="common.GetApplications()" id="RegStatusDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByStatus)
                            {
                                if (item.Key.UniqueId == _selectedStatusId)
                                {
                                    <option selected="selected" value="@item.Key.UniqueId"> @item.Key.RegistrationStatus  <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                                }
                                <option value="@item.Key.UniqueId"> @item.Key.RegistrationStatus  <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <div class="input-group">
                            <select class="form-control"
                                    style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                    onchange="common.GetApplications()"
                                    id="BatchDDL">
                                <option value="0">-- Batches --</option>
                                @foreach (var item in Model)
                                {
                                    string batch = $"{@item?.Course?.Name}_in_{item.RemainingDays}_Days_{@item.StartDateTime.ToString("dd-MMM-yyyy")}_{@item.StartDateTime.ToString(" hh:mm tt")}";
                                    <option value="@item.UniqueId">@batch</option>
                                }
                            </select>
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
            <div id="applicationsDiv"></div> 
    </div>
</div>



@section Scripts
{
    <script src="~/appjs/common.js"></script>
}

