@model IEnumerable<BpstEducation.Models.Batch>
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "ApplicationDashboard";
    var registrationsByCourse = ViewBag.registrationsByCourse;
    var registrationsByStatus = ViewBag.registrationsByStatus;
}

<style>
    .regCount {
        font-weight: bold; /* Make options bold */
        font-style: italic; /* Italicize options */
        color: #0056b3; /* Change text color */
        padding: 5px; /* Add padding for readability */
    }
</style>
<!-- Main content -->




<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="common.GetApplications()" id="CourseDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByCourse)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.Name <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="common.GetApplications()" id="RegStatusDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByStatus)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.RegistrationStatus  <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <div class="input-group">
                            <select class="form-control"
                                    style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                    onchange="common.GetApplications()"
                                    id="BatchDDL">
                                <option value="0">-- Batches --</option>
                                @foreach (var item in Model)
                                {
                                    string batch = $"{@item?.Course?.Name}_in_{item.RemaningDays}_Days_{@item.StartDateTime.ToString("dd-MMM-yyyy")}_{@item.StartDateTime.ToString(" hh:mm tt")}";
                                    <option value="@item.UniqueId">@batch</option>
                                }
                            </select>
                            <button type="button" onclick="common.EnrollToBatch()" class="btn-primary">InRole</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>




@*         <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Select All
                        </label>
                    </div>
                    <a href="#" class="btn btn-link bx-align-right">Apply</a>
                </div>
            </div>
        </div>

 *@        <div id="applicationsDiv"></div>

    </div>
</div>



@section Scripts
{
    <script src="~/appjs/common.js"></script> 
}

