@model IEnumerable<BpstEducation.Models.Batch>
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "ApplicationDashboard";
    var registrationsByCourse = ViewBag.registrationsByCourse;
    var registrationsByStatus = ViewBag.registrationsByStatus;
}

<style>
    .regCount {
        font-weight: bold; /* Make options bold */
        font-style: italic; /* Italicize options */
        color: #0056b3; /* Change text color */
        padding: 5px; /* Add padding for readability */
    }
</style>
<!-- Main content -->




<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="GetApplications()" id="CourseDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByCourse)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.Name <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <select class="form-control" style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" onchange="GetApplications()" id="RegStatusDDL">
                            <option value="0"> -- All --</option>
                            @foreach (var item in registrationsByStatus)
                            {
                                <option value="@item.Key.UniqueId"> @item.Key.RegistrationStatus  <i class="regCount"> -->  @item.Value - Registrations </i> </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <div class="input-group">
                            <select class="form-control"
                                    style="max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                    onchange="GetApplications()"
                                    id="BatchDDL">
                                <option value="0">-- Batches --</option>
                                @foreach (var item in Model)
                                {
                                    string batch = $"{@item?.Course?.Name}_in_{item.RemaningDays}_Days_{@item.StartDate.ToString("dd-MMM-yyyy")}_{@item.StartDate.ToString(" hh:mm tt")}";
                                    <option value="@item.UniqueId">@batch</option>
                                }
                            </select>
                            <button type="button" class="btn-primary">InRole</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="applicationsDiv"></div>

</div>



@section Scripts
{
    <script>

         function GetApplications()
        {
            $.ajax({
                url: "/staff/Applications/GetApplicationPartials/",
                data:  { _courseId: $('#CourseDDL').val(), _statusId:  $('#RegStatusDDL').val() } ,
                success: function(response) {
                    $("#applicationsDiv").html(response);  // Insert the HTML response into the #content div
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error: " + status + " - " + error);
                    }
            });
        }

        function EnrollToBatch()
        {
             var _data =   { _courseId: $('#CourseDDL').val(), _statusId:  $('#RegStatusDDL').val(), _batchId:$('#BatchDDL').val() }
        window.location.href = '/staff/Applications/GetApplicationPartials?'+_data;
        }
    </script>


}
