@model IEnumerable<BpstEducation.Models.Batch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sno = 0;
    ViewBag.ActiveTabName = "Batches";

}

<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="h3">Batch List</h1>
                    <a asp-action="Create" class="btn btn-primary btn-sm">Create New Batch</a>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>S. No.</th>
                                @* <th>@Html.DisplayNameFor(model => model.Course.UniqueId)</th>
    *@                          <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.BatchFee)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                sno++;
                                <tr>
                                    <td>@sno .</td>
                                   @*  <td>@Html.DisplayFor(modelItem => item.Course.UniqueId)</td> *@
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                                    <td>@Html.DisplayFor(modelItem => item.StartDate, "{0:dd/MM/yyyy}")</td>
                                    <td>@Html.DisplayFor(modelItem => item.BatchFee, "{0:C}")</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.UniqueId" title="Edit"><i class="fa fa-pencil text-secondary"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.UniqueId" title="Details"><i class="fa fa-eye text-success"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.UniqueId" title="Delete"><i class="fa fa-trash text-danger"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

