@model IEnumerable<BpstEducation.Models.Batch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabName = "Helper";
}

<h1 class="text-center text-dark">All Batch List</h1>
<div class="content">

    <div class="card">
        <div class="card-header">
<p>
    <a asp-controller="Batches" asp-action="Create" class="btn btn-primary">Create New Batch</a>
</p>

<table class="table">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssisTrainer)
            </th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssisTrainer)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniqueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniqueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

 </div>
 </div>
 </div>





