@model IEnumerable<BpstEducation.Models.Batch>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <h1>Index</h1>
            <p> <a asp-action="Create">Create New</a> </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Course)
                        </th>
                        <th> @Html.DisplayNameFor(model => model.Title)                         </th>
                        <th> @Html.DisplayNameFor(model => model.Duration)                         </th>
                        <th> @Html.DisplayNameFor(model => model.Description)                         </th>
                        <th> @Html.DisplayNameFor(model => model.Trainer)                         </th>
                        <th>                             @Html.DisplayNameFor(model => model.AssisTrainer)                         </th>
                        <th> @Html.DisplayNameFor(model => model.StartDate)                         </th>
                        <th> @Html.DisplayNameFor(model => model.LastUpdatedDate)                         </th>
                        <th>                             @Html.DisplayNameFor(model => model.BatchFee)                         </th>
                        <th> @Html.DisplayNameFor(model => model.CreatedDate)                         </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trainer.UniqueId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssisTrainer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatchFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>