@using System.Globalization
@model IEnumerable<BpstEducation.Models.Batch>
@{
    ViewData["Title"] = "Index";
    Layout = ViewBag.Layout;
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    int sno = 0;
    ViewBag.ActiveTabName = "Batchs";
    CultureInfo indianCulture = new CultureInfo("hi-IN");


}
<link href="~/admintemp/dist/plugins/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
<div class="content">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h1 class="h3">Batch List</h1>
@*                 <a asp-action="Create" class="btn btn-primary btn-sm">New Batch</a>
 *@            </div>

            <div class="table-responsive table-hover">
                <table class="table" id="example1">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Course</th>
                            <th>Starting From</th>
                            <th>Timing</th>
                            <th>Remaning Days</th>
                            <th>Students</th>
                            <th>Fee</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in Model)
                        {
                            sno++;
                            <tr>
                                <td>@sno</td>
                                <td>@b.Course.Name</td>
                                <td>@b.StartDateTime.ToString("dd-MMM-yyyy")</td>
                                <td>@b.StartDateTime.ToString("hh:mm:tt")</td>
                                <td>@b.RemaningDays </td>
                                <td>@b.Students.Count() </td>
                                <td style="text-align:right;"> @b.BatchFee.ToString("C", indianCulture) </td>
                                <td>
@*                                     <a asp-action="Create" asp-route-id="@b.UniqueId" title="Edit"><i class="fa fa-pencil text-secondary"></i></a> |
 *@                                    <a asp-action="Details" asp-route-id="@b.UniqueId" title="Details"><i class="fa fa-eye text-success"></i></a> |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- DataTable -->
    <script src="~/admintemp/dist/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/admintemp/dist/plugins/datatables/datatables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example1').DataTable();
        });
    </script>

}
