@model BpstEducation.Models.Student

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StuLayout.cshtml";
    ViewBag.ActiveTabName = "HelperDetails";
}

<div class="content">
    <div class="card-body ">

        <div class="row">
            <div class="col-lg-4">
                <div class="user-profile-box m-b-3">
                    <div class="box-profile text-white">
                        @*                         <img class="profile-user-img img-responsive img-circle m-b-2" src="dist/img/img1.jpg" alt="User profile picture">
                        *@ 
                        <div class="pull-left-top user-img"><img src="~/AdminTemp/dist/img/img1.jpg" class="img-responsive img-circle" alt="User"></div>

                        <p class="pull-right-3"> @Model.Email</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 ">
                <div class="info-box ">
                    <div class="card tab-style1">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Students Details</h2>
                            <a asp-area="Student" asp-route-id="@Model.UniqueId" asp-controller="Home" asp-action="Edit" class="text-right">Edit</a>
                        </div>


                        <div class="content">
                            <div class="card">
                                <div class="card-body">
                                    <dl class="row">
                                        <dt class="col-sm-4 ">
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.FullName)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Email)
                                        </dd>
                                        <dt class="col-sm-4 ">
                                            @Html.DisplayNameFor(model => model.DateOfBirth)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.DateOfBirth)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.PhoneNumber)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.PhoneNumber)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.Address)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.Address)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.AadhaarNumber)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.AadhaarNumber)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.PanNumber)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.PanNumber)
                                        </dd>
                                        <dt class="col-sm-4 ">
                                            @Html.DisplayNameFor(model => model.RegistrationDate)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.RegistrationDate)
                                        </dd>
                                    </dl>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>





