@model BpstEducation.Models.Employees
@{
    ViewData["Title"] = "ViewProfile";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "Profile";
}
<div class="content">
    <div class="card">
        <div class="card-body">
            <div>
                <h4>Employees Details</h4>
                <hr />
                <input type="hidden" asp-for="UniqueId" />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.JobRole)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.JobRole)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Experience)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Experience)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AadhaarNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AadhaarNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PanNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PanNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Qualification)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Qualification)
                    </dd>
                </dl>
                <a asp-action="Create" asp-route-id="@Model.UniqueId">Edit</a>
            </div>
        </div>
    </div>
</div>


