@model BpstEducation.Models.Student
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.ActiveTabName = "Students";
    List<BatchStudent> batchStudents = ViewBag.StudentBatches;
     
}



<div class="content">
    <div class="card">
        <div class="card-body">
            <h2>Students Details</h2>
            <div class="content">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6 col-lg-3 col-xl-2">
                                <label class="text-bold"> Name </label>
                                <p class="">@Model.FullName  </p>
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-lg-3  col-xl-2">
                                <label class="text-bold"> Email Id </label>
                                <p class="">@Model.Email  </p>
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-lg-3  col-xl-2">
                                <label class="text-bold"> Phone </label>
                                <p class="">@Model.PhoneNumber  </p>
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-lg-3  col-xl-2">
                                <label class="text-bold"> PAN </label>
                                <p class="">@Model.PanNumber  </p>
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-lg-3 col-xl-2">
                                <label class="text-bold"> Aadhar </label>
                                <p class="">@Model.AadhaarNumber  </p>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="text-bold"> Full Address </label>
                                <p class="">@Model.FullAddress  </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-light-blue-gradient"> Batch </div>

                @foreach (var bs in batchStudents)
                {
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6 col-lg-3 col-xl-2">
                                    <label class="text-bold"> Name </label>
                                    <p class=""> @bs.Batch.BatchFee   </p>
                                </div>
                             </div>

                        </div>
                }
                    </div>

            </div>
        </div>
    </div>
</div>
