@* cqx@inject SignInManager<AppUser> signInManager; *@
@{
    string activeTab = string.Empty;
    string activeTabName = "something...";
    if (!string.IsNullOrEmpty(ViewBag.activeTabName))
    {
        activeTabName = ViewBag.activeTabName;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>BPST Software Education</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link href="~/AdminTemp/dist/img/logo.png" rel="icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/LandingPage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/LandingPage/assets/css/style.css" rel="stylesheet">
    @RenderSection("Style", required: false)
</head>
<body>



    <!-- ======= Header ======= -->
    <header id="header" style="background-color:black;top:unset" class="fixed-top ">
        <div class="container d-flex align-items-center">
            @*<img style="height:2em;padding-right:1em;" src="~/AdminTemp/dist/img/bpstLogo.png" />*@
            <img style="height:2em;" src="~/AdminTemp/dist/img/bpstLogo.png" />
            <h1 class="logo mr-auto" style="text-transform:none"><a asp-action="Index" asp-controller="Home">PST Software Education </a></h1>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    @if (activeTabName.Equals("Home")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab"><a asp-action="Index" asp-controller="Home">Home</a></li>

                    @if (activeTabName.Equals("Courses")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab"><a asp-action="Courses" asp-controller="Home">Courses </a></li>
                    @if (activeTabName.Equals("Helper")) { activeTab = "active"; } else { activeTab = string.Empty; }

                   


                    @if (activeTabName.Equals("Registration")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab"><a asp-action="StudentRegistration" asp-controller="Home">Registration </a></li>

                    @if (activeTabName.Contains("Learning")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab drop-down">
                        <a href="">Learning</a>
                        <ul>
                            @if (activeTabName.Equals("LearningCodeHelper")) { activeTab = "active"; } else { activeTab = string.Empty; }
                            <li class="@activeTab"><a asp-action="Index" asp-controller="CodeHelper">Code Helper </a></li>

                            @if (activeTabName.Equals("LearningInterQ")) { activeTab = "active"; } else { activeTab = string.Empty; }
                            <li class="@activeTab"><a asp-action="Index" asp-controller="InterviewQuestions">Interview Questions</a></li>

                          </li>
                        </ul>
                    </li>


                    @if (activeTabName.Contains("Contact")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab drop-down">
                        <a href="">Contact</a>
                        <ul>
                            @if (activeTabName.Equals("ContactAbout")) { activeTab = "active"; } else { activeTab = string.Empty; }
                            <li class="@activeTab"><a asp-action="About" asp-controller="Home">About Us</a></li>
                            @if (activeTabName.Equals("Contact")) { activeTab = "active"; } else { activeTab = string.Empty; }
                            <li class="@activeTab"><a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
                        </ul>
                    </li>


                    @if (activeTabName.Equals("Login")) { activeTab = "active"; } else { activeTab = string.Empty; }
                    <li class="@activeTab"><a href="/Account/Login">Login</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <div class="card" style="padding:2em"> </div>


    @RenderBody()

    <br />
    <br />
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top" id="main-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <p>
                                Sahai Complex 3rd Floor, Near IIM College Gol Tirha                               <br>
                                UP Lucknow 226201<br>India<br>
                                <strong>Phone:</strong> +91 8299101616 <br>
                                <strong>Email:</strong> bpstedu@gmail.com<br>
                                <strong>Email:</strong> support@bitprosofttech.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/About">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>BPST Computer Education</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#"> Computer Training Center</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#"> Hardware Engineering</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#"> Industrial Training</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#"> Internship</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#"> Guaranteed Job Assistance </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/LandingPage/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/LandingPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/LandingPage/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/LandingPage/assets/vendor/php-email-form/validate.js"></script>
    <script src="/LandingPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/LandingPage/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/LandingPage/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/LandingPage/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/LandingPage/assets/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

