@model BpstEducation.Models.Students
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var stuId = ViewBag.StudentId;
}
<h2>  Receipt</h2>
<div class="content">
    <div class="card">
        <div class="card-body">

            <div class="card">
                <div class="card-body">
                    <div class="invoice">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal"> Pay Fees </button>

                        <div class="row">
                            <div class="col-lg-12 m-b-3">
                                <h3 class="text-black"> Fees Details <span class="pull-right">#@Model.RegistrationNumber</span> </h3>
                            </div>
                        </div>


                        <div class="row invoice-info m-b-3">
                            <div class="col-sm-4 invoice-col">
                                Student Details
                                <address>
                                    <strong>@Model.FullName</strong>
                                    <br /> @Model.Address
                                    <br /> @Model.PhoneNumber
                                    <br /> @Model.DateOfBirth
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                Course Details
                                <address>
                                    <strong> Show Batch Details</strong><br>
                                    @Model.CourseId<br>
                                    @Model.BatchId<br>
                                    @Model.CourseCategory<br>
                                    @Model.MyTrainingFee
                                </address>
                            </div>
                            <!-- /.col -->
                            @*  <div class="col-sm-4 invoice-col">
                            <b>Invoice #007612</b><br>
                            <br>
                            <b>Order ID:</b> 4F3S8J<br>
                            <b>Payment Due:</b> 2/22/2014<br>
                            <b>Account:</b> 968-34567
                            </div> *@
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row ">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped">
                                    @foreach (var fee in Model.MySubmittedFeeTillNow)
                                    {

                                        <thead>
                                            <tr>
                                                <th>Submitted Date</th>
                                                <th>Submitted Fees (Amount)</th>
                                                <th>Remaining Fees</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @*   <tr>
                                        <td>1</td>
                                        <td>Need for Speed IV</td>
                                        <td>247-925-726</td>
                                        <td>Wes Anderson umami biodiesel</td>
                                        <td>$50.00</td>
                                        </tr> *@
                                            @*   <tr>
                                        <td>1</td>
                                        <td>Monsters DVD</td>
                                        <td>735-845-642</td>
                                        <td>Terry Richardson helvetica tousled street art master</td>
                                        <td>$10.70</td>
                                        </tr>
                                        <tr>
                                        <td>1</td>
                                        <td>Grown Ups Blue Ray</td>
                                        <td>422-568-642</td>
                                        <td>Tousled lomo letterpress</td>
                                        <td>$25.99</td>
                                        </tr> *@
                                        </tbody>
                                    }

                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->




                    </div>
                    <!-- /.content -->
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" action="/Admin/StudentFee/Create" method="post">

                    <input type="hidden" asp-for="UniqueId" name="StudentId" />
                    <input type="hidden" asp-for="BatchId" />
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="form-label" for="RegistrationDate">Fees</label>
                            <input class="form-control valid" id="SubmittedFee" name="SubmittedFee" aria-invalid="false">
                        </div>

                        <div class="form-group col-md-12">
                            <label class="form-label" for="RegistrationDate">Fees</label>
                            <input type="datetime" class="form-control valid" id="FeeSubmittingDate" name="FeeSubmittingDate" aria-invalid="false">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <input type="submit" value="Save" class="btn btn-primary ">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $("#addBtn").click(function () {
            $.ajax({
                url: $(this).attr("formaction"),
            }).done(function (msg) {
                $("#AddContent").html(msg);
                $("#add-contact").modal("show");
            })
        });
        $("body").on("click", "#save", function () {
            var form = $('form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                type: "post",
                url: form.attr('action'),
                data: {
                    __RequestVerificationToken: token,
                    position: {
                        PositionName: $("#PositionName").val()
                    }
                },
                dataType: "html",
                success: function (result) {
                    $("#add-contact").modal("hide");
                    $("#partial").html(result);
                }
            });
            return false;
        });
    </script>

}