@model IEnumerable<BpstEducation.Models.CodeHelper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.ActiveTabId = 3;
}

<div class="content">
    <div class="card">
        <div class="card-body">


            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Topic)
                            </td>
                            <td>
                                <a asp-action="Create" asp-route-id="@item.UniqueId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UniqueId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>
    </div>
</div>
